<h1>List of Tweets</h1>

<table>
	<tr>
		<th>Status</th>
		<th>Zombie</th>
	</tr>
	
	<% Tweet.all.each do |tweet| %>
		<tr>
			<td><%= tweet.status %></td>
			<td><%= link_to tweet.zombie.name, tweet.zombie %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Compose new Tweet", new_tweet_path %>			